RPC_URL =  BUNDLER URL FOR THE CHAIN YOU WANT TO TRY
PRIVATE_KEY = PK OF THE OWNER OF THE SMART WALLET
ENTRYPOINT = "same for all chains"
SIMPLE_ACCOUNT_FACTORY = "same for all chains"
PAYMASTER_URL = PAYMASTER URL FOR THE CHAIN YOU WANT TO TRY
PAYMASTER_CONTEXT = "payg" // This is the kind of paymaster that "sponsors" gas for the user
